<%- include('partials/header') %>

<main class="main-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center mb-3">Recuperar Senha</h3>
            <p class="text-center mb-4" style="font-size: 0.9em; color: #666">
              Informe seu e-mail para receber o link de recuperação.
            </p>

            <form id="formRecuperarSenha" method="POST" novalidate>
              <!-- EMAIL -->
              <div class="mb-3">
                <label class="form-label">E-mail</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="seuemail@email.com"
                  required
                />
                <small id="erro-email" class="text-danger"></small>
              </div>

              <!-- BOTÃO -->
              <div class="d-grid mb-3">
                <button type="submit" class="btn btn-dark">
                  Enviar link de recuperação
                </button>
              </div>

              <!-- VOLTAR LOGIN -->
              <div class="text-center">
                <a href="/login">Voltar para o login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL ALERT -->
  <div class="modal fade" id="modalAlerta" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content text-center p-3">
        <h5 class="mb-3">Verifique seu e-mail</h5>

        <p style="font-size: 0.9em; color: #666">
          Se existir uma conta com esse e-mail, enviamos o link de recuperação.
        </p>

        <button class="btn btn-dark mt-2" id="btnConfirmar">OK</button>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') %>

<script src="/js/validaRecuperacaoSenha.js"></script>
